.blacked {
  background:url(../images/aboutbg.png);
  height: 400px;
  width: 100vw;
}
.blacked{
  background-color: #141414;
}
.whitestart {
  width: 70vw;
  margin-top: -200px;
  background-color: white;
  margin-left: 15vw;
  margin-right: 15vw;
  padding: 30px;
  border: 2px solid rgba(235, 227, 231, 0.513);
  border-radius: 30px;
  margin-bottom: 4vh;
}
.card-heading {
  font-size: 3rem;
  font-family: 'Lora';
  font-weight: 900;
  color: #ff7f50;
}
@media screen and (max-width: 700px) {
  .card-heading {
    font-size: 1.7rem;
    font-family: Lora;
    color: #ff7f50;
    font-weight: 900;
  }
  .blacked {
    background:url(../images/aboutbg.png);
    height: 200px;
    width: 100vw;
  }
  .blacked{
    background-color: #141414;
  }
  .whitestart {
    width: 96vw;
    margin-top: -100px;
    background-color: white;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 10px;
    border: 2px solid rgba(235, 227, 231, 0.513);
    border-radius: 15px;
    margin-bottom: 4vh;
  }
}
