.contactimg {
  width: 100vw;
  min-height: 300px;
}
@media screen and (max-width: 700px) {
  .card-heading {
    font-size: 1.7rem;
    font-family: Lora;
    color: #ff7f50;
    padding: 1px;
    font-weight: 900;
  }
}
.card-heading {
  font-size: 3rem;
  font-family: Lora;
  color: #ff7f50;
  font-weight: 900;
  padding: 10px;
}
.imgh img {
  width: 100%;
  height: auto;
}
.wrapper{
   background: rgba(205, 219, 219, 0.342);
}
.styletext{
   padding: 4px;
   border-top-left-radius: 40px;
   border-bottom-right-radius: 40px;
   background: linear-gradient(to right, rgba(255, 225, 0, 0.1), rgba(255, 225, 0, 0.7) 4%, rgba(255, 225, 0, 0.3)) transparent;
}
.fab1{
  padding: 12px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}
.flexit{
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
#regForm {
  background-color: #ffffff;
  margin: 0px auto;
  font-family: Roboto;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}
@media screen and (max-width:320px) {
  .flexit{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  #regForm {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Roboto;
    padding-bottom: 40px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
  }
}
@media screen and (max-width:600px) and (min-width:320px) {
  #regForm {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Roboto;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
  }
}

#register {
  color: #6A1B9A
}

h1 {
  text-align: center
}
input{
  outline: none;
}
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Roboto;
  border-bottom: 2px solid #aaaaaa;
  -webkit-appearance: none;
}

.tab input:focus {
  border-bottom: 2px solid #6a1b9a !important;
  outline: none
}

input.invalid {
  border-bottom: 2px solid rgba(255, 0, 0, 0.609)
}

.tab {
  display: none
}

button {
  background-color: #6A1B9A;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer
}

button:hover {
  opacity: 0.8
}

button:focus {
  outline: none !important
}

#prevBtn {
  background-color: rgba(255, 0, 0, 0.582)
}

.all-steps {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: inline-flex;
  justify-content: center
}

.step {
  height: 40px;
  width: 40px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #6a1b9a;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
  transform: scale(1.4);
  margin-left: 10px;
  margin-right: 10px;
}
h3{
  margin-bottom: 2vh;
}
.step.finish {
  color: #fff;
  background: #6a1b9a;
  opacity: 1
}

.all-steps {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

.thanks-message {
  display: none
}
@media screen and (max-width:576px) {
	.targetit{
	  display: none;
	}
 }
 .ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
 }
 .hamRotate.active {
	transform: rotate(45deg);
 }
 .hamRotate180.active {
	transform: rotate(180deg);
 }
 .line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: rgb(8, 0, 0);
	stroke-width: 5.5;
	stroke-linecap: round;
 }
 .ham3 .top {
	stroke-dasharray: 40 130;
 }
 .ham3 .middle {
	stroke-dasharray: 40 140;
 }
 .ham3 .bottom {
	stroke-dasharray: 40 205;
 }
 .ham3.active .top {
	stroke-dasharray: 75 130;
	stroke-dashoffset: -63px;
 }
 .ham3.active .middle {
	stroke-dashoffset: -102px;
 }
 .ham3.active .bottom {
	stroke-dasharray: 110 205;
	stroke-dashoffset: -86px;
 }