.footerimg img:hover{
   transform: scale(1.1);
   transition: all 0.5s ease-in-out;
   -webkit-filter: brightness(150%);
}
@media  screen and (max-width:300px) {
   h1,h2{
      font-size: 20px;
   }
   .quicklinks{
      display: none;
   }
   div{
      font-size: 12px;
   }
}
.icon :hover{
   animation: scaleupanddown 1.2s ease-in-out infinite;
   transform: scale(1.2);
}
@keyframes scaleupanddown {
   0%,100%{
      transform: scale(1);
   }
   20%,80%{
      transform: scale(1.2);
   }
   40%,60%{
      transform: scale(1.4);
   }
   50%{
      transform: scale(1.5);
   }
}
@media screen and (max-width:768px) {
   .pti{
      display: none;
   }
}