.imgh img {
  width: 100%;
  height: auto;
}
.imgr img {
  animation: rotatingimg 10s ease-in-out infinite;
}
@keyframes rotatingimg {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2.5deg);
  }
}
.striped {
  background: url("../images/background.png");
  background-size: 100vw auto;
  background-repeat: no-repeat;
}
.btn1 {
  background-color: #9c27b0;
  color: white;
  font-family: Poppins;
  font-family: 20px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  padding: 12px;
  margin: 10px;
}
.btn1:hover {
  background-color: #7d1a8f;
  color: white;
}
.tagline {
  font-family: "Lora";
  font-size: 1.5em;
  font-weight: 600;
  color: #019578;
}
.heading {
  font-family: "Lora";
  font-size: 2em;
  font-weight: 700;
  color: #ff7f50;
}
.iconalways {
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  width: 50px;
  height: 50px;
  background-color: #ee6e73;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  z-index: 1000000000;
}
.iconhe {
  margin: auto;
  font-size: 20px;
}
#clicktoup {
  display: none;
}
.card-title1 {
  display: flex;
  padding: 10px;
}
.achieve {
  padding: 15px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  background-color: #2dce89;
  margin: auto;
  box-shadow: 0 0 15px rgb(31 66 135 / 30%);
}
.fa-rocket {
  background-color: #5e72e4;
}
.fa-laptop-code {
  background-color: #ffd600;
}
.fa-gifts {
  background-color: #fe365c;
}
.cardu:hover {
  border: 2px solid rgb(231, 231, 231);
  box-shadow: 0 0 10px rgb(31 66 135 / 30%);
}
.cardu {
  border-radius: 10px;
}
.corxtu {
  padding: 10px;
}
.card-heading {
  font-size: 3rem;
  font-family: Lora;
  color: #ff7f50;
  font-weight: 900;
}
.achievements {
  min-height: 400px;
  display: flex;
}
.achievements .container {
  margin: auto;
}
.soln {
  padding: 10px;
}
.one-ac-2 {
  margin-top: 60px;
  transition: all ease-in-out 4s;
}
.one-ac-1 {
  margin-top: 20px;
  transition: all ease-in-out 4s;
}
.one-ac-2:hover {
  margin-top: 40px;
}
.one-ac-1:hover {
  margin-top: 0px;
}
@media screen and (max-width: 700px) {
  .card-heading {
    font-size: 1.7rem;
    font-family: Lora;
    color: #ff7f50;
    font-weight: 900;
  }
  .one-ac-2 {
    margin-top: 0px;
  }
  .one-ac-1 {
    margin-top: 0px;
  }
  .one-ac-2:hover {
    margin-top: 0px;
    box-shadow: 0 0 10px rgb(244, 245, 247);
  }
  .one-ac-1:hover {
    margin-top: 0px;
    box-shadow: 0 0 10px rgb(244, 245, 247);
  }
  .soln {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .targetit {
    display: none;
  }
}
/* .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
} */

/* .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}

.swiper-slide img {
  display: block;
  justify-content: center;
  width: 95%;
  height: 95%;
}
.swiper-slide img:hover {
  transform: scale(1.05);
} */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: rgb(8, 0, 0);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham3 .top {
  stroke-dasharray: 40 130;
}
.ham3 .middle {
  stroke-dasharray: 40 140;
}
.ham3 .bottom {
  stroke-dasharray: 40 205;
}
.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham3.active .middle {
  stroke-dashoffset: -102px;
}
.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}
.imgb img{
  width: 100%;
  max-height: 250px;
}
.carousel-icons{
  font-size: 1.1rem;
  padding:10px;
  border-radius: 50%;
  background: #019578;
  margin: 10px;
}